html {
    position: relative;
    min-height: 100%;
}
body {
    height: 100%;
    font-size: 14px;
    color: #525252;
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    background: #f0f2f5;
}
.blog {
}
#nav {
    color: #fff;
    background: #159957 linear-gradient(120deg, #155799, #926499);
}

/****************begin goTop************************/
#toTop {
    position:fixed;
    right:5%;
    bottom:5%;
    width:45px;
    height:45px;
    opacity:0.5;
    cursor:pointer;
    display:none
}
/****************end goTop************************/
/****************begin container************************/
.line-limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; //文本不换行，这样超出一行的部分被截取，显示...
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.articles {
    height: 350px;
    background-color:rgb(252, 252, 250);
    position: relative;
    min-height: 100%;
}
.article_header {
    color:#428bca;
    margin: 10px;
}
.author_info {
    background-color:rgb(252, 252, 250);
}
/****************end container************************/
/****************begin footer************************/
.footer {
    color: #777;
    padding: 19px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
/****************end footer************************/


/******************************begin article detail************************/

.article {
    background-color:#ffffff;
    font-size: 16px;
}
.article_header h1 {
    margin: 1.1em auto 1em;
    font-size: 28px;
    line-height: 38px;
    color:#525252
}
.article_content{
    padding:5px;
    margin-bottom:500px ;
}
.article_detail{
    background-color:#ffffff;
    padding: 19px 22px;
    line-height: 1.8;
    word-wrap: break-word;
}
.article_footer{
    border-top: 1px solid rgb(195, 232, 238);
    color: #777;
    padding: 19px 10px;
    position: absolute;
    bottom: 5px;
    width: 98%;
    height: 50px;
}
.article_detail_footer{
    border-top: 1px solid rgb(195, 232, 238);
    color: #777;
    padding: 19px 0;
    bottom: -50px;
    width: 96%;
    height: 50px;
}
.article_intro{
    height:auto;
    overflow-y: auto
}

.headerDoc {
    color: #005580;
}

.tag {
    display: inline-block;
    padding: 0 8px;
    color: #017E66;
    background-color: rgba(1,126,102,0.08);
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}
.pagination>li>a, .pagination>li>span{
    margin-bottom: 5px;
    background-color: rgb(195, 232, 238);
}

.articles_content {
    padding:5px;
}

pre.prettyprint {
    background: #fcfbfb;
}