html {
    position: relative;
    min-height: 100%;
}
body {
    height: 100%;
    font-size: 14px;
    color: #525252;
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    background: #b9e6eb ;
    min-height: 100%;
}
.blog {
    background: #b9e6eb /*url(../img/body_bg.jpg) no-repeat center 0 */;
}
#nav {
    color: #fff;
    background: #159957 linear-gradient(120deg, #155799, #926499);
}

/****************begin goTop************************/
#toTop {
    position:fixed;
    right:5%;
    bottom:5%;
    width:45px;
    height:45px;
    opacity:0.5;
    cursor:pointer;
    display:none
}
/****************end goTop************************/
/****************begin container************************/
.limit-font {
    max-height: 40%;
    white-space:nowrap;
    overflow: hidden;//超出隐藏
    text-overflow: ellipsis;//超出文本设置为...
    display:-webkit-box;//将div1转换为盒子模型
    -webkit-line-clamp: 3;//设置div1的文本为2行
    -webkit-box-orient: vertical;//从顶部向底部垂直布置子元素
    /*white-space: initial;*/
}
.articles {
    height: 300px;
    background-color:rgb(252, 252, 250);
    position: relative;
    min-height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.article_header {
    text-align: left;
    color:#05a1a2;
    margin: 10px;
}
.author_info {
    background-color:rgb(252, 252, 250);
}
/****************end container************************/
/****************begin footer************************/
.footer {
    color: #777;
    padding: 0 0;
    margin-top: 20px;
    width: 100%;
    height: 20px;
    position:absolute;
    bottom:-40px;
}
/****************end footer************************/


/******************************begin article detail************************/

.article {
    background-color:#ffffff;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.article_header h1 {
    margin: 1.1em auto 1em;
    font-size: 28px;
    line-height: 38px;
    color:#525252
}
.article_content{
    padding:5px;
    margin-bottom:50px ;
}
.article_detail{
    background-color:#ffffff;
    padding: 19px 22px;
    line-height: 1.8;
    word-wrap: break-word;
}
.article_footer{
    border-top: 1px solid rgb(195, 232, 238);
    color: #777;
    padding: 19px 10px;
    position: absolute;
    bottom: 5px;
    width: 98%;
    height: 50px;
}
.article_detail_footer{
    border-top: 1px solid rgb(195, 232, 238);
    color: #777;

}
.article_intro{
    height:350px;
    overflow-y: auto
}

.headerDoc {
    color: #005580;
}

.article_tag {
    display: inline-block;
    padding: 0 8px;
    color: #017E66;
    background-color: rgba(1,126,102,0.08);
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}
.pagination>li>a, .pagination>li>span{
    margin-bottom: 5px;
}

.articles_content {
    padding:5px;
}

pre.prettyprint {
    font-size: 15px;
    white-space: pre;
    background: #fcfbfb;
}
pre{
    max-height: 500px;
    overflow: auto;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #e4e4e4;
    border-color: #e4e4e4;
    background-color: transparent;
}

.article_title {
    margin-left: 2%;
}
blockquote{
    font-size:15px
}

.article_read {
    border: #b9e6eb;
    background: #b9e6eb;
}

#article_nav {
    position: fixed;
}

.article_comments {
    margin: 50px 0;
    background-color:#ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.article_comments_list {
    margin: 50px 0;
    background-color:#ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.comment_body {
}

.article_comments_detail {
    margin: 20px 0;
}
.article_comments_list li{
    list-style:none;
}

.clear_float {
    clear: both;
}

.comments_share {
    margin: 0 20px;
}

.comment-meta{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}